@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
    width: 80%;
    height: 100px;
    background-color: gray;
    margin: 0 10%;
    padding: 5px;
}
 .corn{
    height: 90px;
    width:  90px;
    background-color: blue;
    margin: 5px 10px;
 }

 .sec1 {
    height: 200px;
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 0 10%;

 }
 p {
    margin: 8% 5%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
 } 

 .sec2, .sec3, .sec4, .sec5 {
     width: 80%;
     height: 120px;
     margin: 0 10%;
    
 }
 .sec2{
     background-color: blue;
 }
 .sec3{
    background-color: rgb(8, 177, 154);
}
.sec4{
    background-color: rgb(117, 230, 154);
}
.sec5{
    background-color: rgb(184, 187, 22);
}